# Implementação 1: Toy Example

Esse notebook apresenta a primeira implementação do Toy Example proposto.
Sua proposta segue os seguintes objetivos:
* A implementação não seguirá padrões sugeridos nos campos das dimensões da IAR.
* Esse notebook servirá de checagem para análise da eficiência e corretude da checklist proposta pelo NIAR.

### Etapa 1: Inicialização
Import's usados, e leitura dos dados

In [7]:
import pandas as pd
import numpy as np
import lightgbm as lgb
import sklearn as sk




df = pd.read_csv("./SIH_Dados/Dados_csv/RDAC2201.csv", index_col=0)
print(df.columns)
df.head()

Index(['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT',
       'CEP', 'MUNIC_RES', 'NASC',
       ...
       'DIAGSEC9', 'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4', 'TPDISEC5',
       'TPDISEC6', 'TPDISEC7', 'TPDISEC8', 'TPDISEC9'],
      dtype='str', length=113)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2022,1,3,6.360294e+13,1222100025960,1,69907501,120040,19500723,...,NaN,0,0,0,0,0,0,0,0,0
1,120000,2022,1,3,6.360294e+13,1222100025982,1,69907566,120040,19831215,...,NaN,1,0,0,0,0,0,0,0,0
2,120000,2022,1,5,4.034526e+12,1222100006886,1,69911114,120040,19771118,...,NaN,0,0,0,0,0,0,0,0,0
3,120000,2022,1,5,4.034526e+12,1222100006919,1,69918256,120040,19820507,...,NaN,0,0,0,0,0,0,0,0,0
4,120000,2022,1,5,4.034526e+12,1222100008250,1,69907840,120040,20010608,...,NaN,0,0,0,0,0,0,0,0,0

### Etapa 2: Processamento dos Dados
Criação dos dados usados para predições e separação dos dados de treinamento, validação e teste.